body {
  margin: 0;
  padding: 0;
}

ul {
    list-style: none;
}

.news-list {
  li + li {
    margin-top: 20px;
  }
}

nav {
  margin: 20px auto;
}

.pagination {
  justify-content: center;
}

.button-back {
  margin-left: 40px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}